<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Gallery</title>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="jquery-3.4.0.js"></script>
    <script src="script.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Fonts and Styles -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    
    <script>
    function scrollFunction() { 
    $('html,body').animate({
    scrollTop: $(".scrollBottom").offset().top
    }, 150000);}
    </script>

</head>

<body>

    <!-- Navigation Bar -->
    <div class="navBar" id="navBarID">

        <a href="javascript:void(0);" class="icon" onclick="responsiveBurger()">
            <i class="fa fa-bars"></i>
        </a>

        <a href="index.html" id="homeB"><i class="fa fa-fw fa-home"></i></a>
        <a href="index.html#contact">Contact</a>
        <a href="blog.html">Blog</a>
        <a href="gallery.html" class="active">Gallery</a>
        <a href="aboutme.html">About</a>

    </div>

    <br><br><br>

    <div class="galleryIntro">
        <h2><q>There are no bad pictures, that’s just how your face looks sometimes.</q></h2>
        <h4><i>- Abraham Lincoln</i></h4><br>
        <h4>A collection of my favorite snaps and video edits from over the years. Enjoy :)</h4>
    </div>
    

    <div ng-app="myApp" ng-controller="myController">
    
        <button class="generalButton" ng-click="showPhotoVideo()"><span ng-bind="videoText"></span></button>

        <br>
        <a href="#" onclick="scrollFunction()"><i class="fas fa-arrow-down fa-2x" id="downArrowGallery"></i></a>

        <div ng-show="showVideo">

            <!-- Video Gallery Grid -->
            <div class="row gal">

                <div class="column gal">
                    <div class="videoContainer" ng-show="showVideo">
                        <video width="320" controls="controls" preload="none" poster="video/kapitiPoster.jpg">
                            <source src="video/paekakariki.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <span>Paekakariki, NZ</span>
                    </div>
                </div>

                <div class="column gal">
                    <div class="videoContainer" ng-show="showVideo">
                        <video width="320" controls="controls" preload="none" poster="video/taranakiPoster.jpg">
                            <source src="video/taranaki.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <span>Taranaki, NZ</span>
                    </div>
                </div>

                <div class="column gal">
                    <div class="videoContainer" ng-show="showVideo">
                        <video width="320" controls="controls" preload="none" poster="video/rioPoster.jpg">
                            <source src="video/LiamRio400mEdit.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <span>Liam's second gold in Rio (400m)</span>
                    </div>
                </div>

                <div class="column gal">
                    <div class="videoContainer" ng-show="showVideo">
                        <video width="320" controls="controls" preload="none" poster="video/okiwiPoster.jpg">
                            <source src="video/okiwiBay.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <span>Okiwi Bay, NZ</span>
                    </div>
                </div>

            </div>
        </div>


        <!-- Photo Gallery Grid -->
        <div class="row gal">

            <!--COLUMN ONE-->
            <div class="column gal">

                <div class="galleryContainer"><img src="images/gallery/gallery1.jpg">
                    <div class="overlay">John</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery11.jpeg">
                    <div class="overlay">Drone above Red Rocks, Wellington NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery7.jpeg">
                    <div class="overlay">Wharariki Beach, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_7.jpeg">
                    <div class="overlay">Mexico City Museum</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryR1.jpeg">
                    <div class="overlay">Rio de Janeiro, Brazil</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery29.jpg">
                    <div class="overlay">Patea Beach, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA1.jpeg">
                    <div class="overlay">Makara, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery10.jpg">
                    <div class="overlay">Queenstown, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery15.jpg">
                    <div class="overlay">Red Rocks, Wellington NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery3.jpg">
                    <div class="overlay">Wanaka, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery12.jpg">
                    <div class="overlay">Queenstown, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB9.jpeg">
                    <div class="overlay">Zion National Park, UT</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_1.jpeg">
                    <div class="overlay">Lake Tahoe, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery2.jpeg">
                    <div class="overlay">Newport, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA5.jpeg">
                    <div class="overlay">Guatapé, Colombia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery17.jpeg">
                    <div class="overlay">Artwork in Toronto</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB17.jpeg">
                    <div class="overlay">Salar de Uyuni, Bolivia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA4.jpeg">
                    <div class="overlay">Machu Picchu, Peru</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB16.jpeg">
                    <div class="overlay">Las Lajas, Ecuador</div>
                </div>

            </div>




            <!--COLUMN TWO-->
            <div class="column gal"> 
                <div class="galleryContainer"><img src="images/gallery/gallery18.jpeg">
                    <div class="overlay">Pacific Coast Highway, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery22.jpeg">
                    <div class="overlay">Pacific Coast Highway, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB19.jpeg">
                    <div class="overlay">Monument Valley, UT</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_2.jpeg">
                    <div class="overlay">Teotihuacan, Mexico</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA7.jpeg">
                    <div class="overlay">Artwork in Bogotá, Columbia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery25.jpeg">
                    <div class="overlay">Pacific Coast Highway, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery20.jpeg">
                    <div class="overlay">Artwork in Toronto</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_3.jpeg">
                    <div class="overlay">Sequoia, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_8.jpeg">
                    <div class="overlay">Yosemite, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery26.jpeg">
                    <div class="overlay">Drone above Okiwi Bay, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB13.jpeg">
                    <div class="overlay">Rio de Janeiro, Brazil</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery28.jpeg">
                    <div class="overlay">Whistler, BC</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB15.jpeg">
                    <div class="overlay">Guatapé, Colombia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery33.jpeg">
                    <div class="overlay">Yosemite, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery36.jpeg">
                    <div class="overlay">Steve</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB6.jpeg">
                    <div class="overlay">Dallas, Texas</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery27.jpeg">
                    <div class="overlay">San Diego, CA</div>
                </div>

            </div>



            <!--COLUMN THREE-->

            <div class="column gal">
                <div class="galleryContainer"><img src="images/gallery/gallery9.jpeg">
                    <div class="overlay">Mt Taranaki, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB5.jpeg">
                    <div class="overlay">Rio de Janeiro, Brazil</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_4.jpeg">
                    <div class="overlay">Yosemite Falls, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA8.jpeg">
                    <div class="overlay">Machu Picchu, Peru</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA11.jpeg">
                    <div class="overlay">Salar de Uyuni, Bolivia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_5.jpeg">
                    <div class="overlay">Prague, Czech Republic</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB1.jpeg">
                    <div class="overlay">Québec City, Québec</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB2.jpeg">
                    <div class="overlay">Sedona, AZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_6.jpeg">
                    <div class="overlay">Prague, Czech Republic</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB3.jpeg">
                    <div class="overlay">Medellín, Colombia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB4.jpeg">
                    <div class="overlay">Kāpiti Coast, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_9.jpeg">
                    <div class="overlay">Perfect, Keir!</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA6.jpeg">
                    <div class="overlay">Cartagena, Colombia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB8.jpeg">
                    <div class="overlay">Wichita Reserve, Oklahoma</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery34.jpeg">
                    <div class="overlay">Te Aro, Wellington NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryA2.jpeg">
                    <div class="overlay">Taranaki, NZ</div>
                </div>

            </div>



            <!--COLUMN FOUR-->

            <div class="column gal">
                <div class="galleryContainer"><img src="images/gallery/gallery24.jpeg">
                    <div class="overlay">Pfeiffer Beach, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryN1.jpeg">
                    <div class="overlay">Niagara Falls, Canada</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_10.jpeg">
                    <div class="overlay">Mallorca, Spain</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB12.jpeg">
                    <div class="overlay">Antelope Canyon, AZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_12.jpeg">
                    <div class="overlay">Half Dome, Yosemite, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB14.jpeg">
                    <div class="overlay">Buenos Aires, Argentina</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_13.jpeg">
                    <div class="overlay">Half Dome, Yosemite, CA</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB18.jpeg">
                    <div class="overlay">Cartagena, Colombia</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery19.jpeg">
                    <div class="overlay">Artwork in Toronto</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryUS_11.jpeg">
                    <div class="overlay">Mallorca, Spain</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB20.jpeg">
                    <div class="overlay">Machu Picchu, Peru</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB21.jpg">
                    <div class="overlay">Half marathon - before</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB25.jpeg">
                    <div class="overlay">Half marathon - after</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery21.jpeg">
                    <div class="overlay">Otago, NZ</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/galleryB22.jpeg">
                    <div class="overlay">Kotor, Montenegro</div>
                </div>
                <div class="galleryContainer"><img src="images/gallery/gallery4.jpg">
                    <div class="overlay">Kāpiti Island, NZ</div>
                </div>

            </div>

        </div>
    </div>

    <br><br>

    <div class="scrollBottom"></div>
    
    <button class="generalButton" onclick="window.location.href='https://prd-p-vdk9csf2nf2m.cloud.splunk.com/en-US/app/search/graduate_showcase';">Splunk</button>
    
    <br><br><br>


</body>

</html>