body,
html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/* ========================================================== */
/* START BACKGROUND IMAGES */
.bgImage{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.imageMain {
    background-image: url("images/beachSunset.jpg");
}

.image2 {
    background-image: url("images/westCoastBeach.jpg");
}

.image3 {
    background-image: url("images/kapitiIsland.jpg");
}

.image4 {
    background-image: url("images/antelope.jpeg");
}

.image5 {
    background-image: url("images/darkWaterWall.jpg");
}

/* END BACKGROUND IMAGES */
/* ========================================================== */


/* LOGO */
.overImage {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 400px;
}


/* ========================================================== */
/* START NAVIGATION: */
.navBar {
    z-index: 3;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: block;
    width: 100%;
    transition: top 0.3s;
    border-bottom: 0.8px solid rgb(209, 208, 208);
}

#homeB {
    float: left;
}

.navBar a {
    float: right;
    display: block;
    color: #1d1d1d;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
}

.navBar a:hover {
    color: rgb(194, 146, 56);
}

.navBar .active {
    color: rgb(194, 146, 56);
}

.navBar .icon {
    display: none;
    padding: 15px 0px;
}

/* RESPONSIVENESS FOR NAVIGATION*/
@media screen and (max-width: 600px) {
    .bgImage {
        background-attachment: scroll;
    }
    .image2 {
        background-image: url("images/westCoastBeachSMALL.jpg");
    }

    .navBar a:not(:first-child) {
        display: none;
    }

    .navBar a.icon {
        float: left;
        display: block;
        width: 100%;
    }

    #homeB {
        float: none;
    }

    .navBar.responsive {
        position: fixed;
    }

    .navBar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .welcome {
        left: 50%;
        font-size: 7.5vw;
        width: 45%;
    }

}

/* END NAVIGATION */
/* ========================================================== */


/* WELCOME TEXT SECOND PHOTO */
.welcome {
    background-color: white;
    font-size: 6.5vw;
    padding-top: 5px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========================================================== */
/* START CONTACT PAGE  */

/* HEADSHOT */
.headshot{
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    opacity: 0;
}

.socialButton {
    position: relative;
    transform: translate(-50%, -50%);
    width: 100px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 4px 7px 14px black;
}

.cv{
    left: calc(50% - 200px);
    top: 85%;
    position: absolute;
}
.linkedin{
    top: 85%;
    left: 50%;
    position: absolute;
}
.git{
    top: 85%;
    left: calc(50% + 200px);
    position: absolute;
}

.nameAndEmail{
    text-decoration: none;
    font-size: 22px;
    margin: 0;
    position: inherit;
    text-align: center;
    top: 55%;
    color: white;
}

.nameAndEmail br {
    line-height: 140%;
}
.nameAndEmail .two{
    font-size: 21px;
}
.nameAndEmail hr{
    border: 1px solid white;
    width: 185px;
}
.nameAndEmail .two:hover { text-decoration: none; color:black }
.nameAndEmail .two:visite { text-decoration: none; color:white }


@media screen and (max-width: 600px) {
    .headshot{
        width: 170px;
        top: 28%;
    }
    .nameAndEmail{
        font-size: 18px;
        top: 47%;
    }
    .socialButton{
        width: 70px;
    }
    .nameAndEmail .two{
        font-size: 17px;
    }
    .cv{
        top: 83%;
        left: 50%;
    }
    .linkedin{
        left: 25%;
        top: 70%;
    }
    .git{
        top: 70%;
        left: 75%;
    }
}
/* ========================================================== */

/* ========================================================== */
/* START HOME GALLERY PAGE */

.my-container{
    padding: 15px 25px;
}

.my-container img{
max-width: 100%;
width: 100%;
height: 100%;
border-radius: 2%;
}

.my-col{
    padding: 15px;
}


/* ========================================================== */




/* ========================================================== */
/* START ABOUT ME PAGE */

.aboutMeBody {
    background-color: rgb(233, 218, 190);
    background-color: rgba(233, 218, 190, 0.897);
}

* {
    box-sizing: border-box;
}


/* ABOUT ME BLURB */
.aboutMeIntro {
    display: block;
    left: 50%;
    margin: 30px 50px;
    background-color: white;
    padding: 30px;
    max-width: 100%;
}

/* ============= */
/* TIMELINE  */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* TIMELINE CONTAINER */
.timelineContainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* TIMELINE CIRCLES */
.timelineContainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid rgb(194, 146, 56);
    top: 19px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -13px;
}

/* arrows */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* text inside div's */
.timelineContent {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Make timeline responsive */
@media screen and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }

    .timelineContainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timelineContainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 18px;
    }

    .right {
        left: 0%;
    }
}

/* =================== */


/* END ABOUT ME PAGE  */
/* ========================================================== */




/* ========================================================== */
/* START GALLERY PAGE */
.galleryIntro {
    display: block;
    left: 50%;
    margin: 30px 50px;
    border: 3px solid rgba(219, 159, 47, 0.514);
    padding: 30px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;

}

/* IMAGE OVERLAYS */
.overlay {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.galleryContainer:hover .overlay {
    opacity: 1;
}

.videoContainer span {
    display: block;
    text-align: center;
}


/* =================== */

.galleryContainer,
.videoContainer {
    position: relative;
}

/* GALLERY */
.row.gal{
    display: flex;
    flex-wrap: wrap;
    /* display: -webkit-flex; Having this on makes safari 2 cols butgreat on chrome */
    display: -webkit-box; /* Having this on makes safari 4 cols but makes scroll on chrome*/
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -moz-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 4px;
    justify-content: center;
}

/* FOUR COLUMNS*/
.column.gal{
    -ms-flex: 25%;
    -webkit-box: 25%;
    -webkit-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 4px;
}

.videoContainer video {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.videoContainer video title {
    display: inline;
}

.column img,
.videoContainer video {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    outline: none;
}

/* FOUR --> TWO COLUMNS */
@media screen and (max-width: 900px) {
    .column.gal {
        -ms-flex: 50%;
        /* -webkit-box-flex: 50%; */
        -webkit-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .row.gal{
        display: -webkit-flex; 
    }
}

/* TWO --> ONE COLUMN */
@media screen and (max-width: 600px) {
    .column.gal {
        -ms-flex: 100%;
        -webkit-flex: 100%;
        /* -webkit-box-flex: 100%; */
        flex: 100%;
        max-width: 100%;
    }
}

/* END GALLERY */
/* =================== */

/* END GALLERY PAGE */
/* ========================================================= */



/* ========================================================= */
/* ETC */

/* nice quotation marks */
q {
    quotes: "“""”";
}

/* tagline for home screen */
.tagline {
    font-size: 6vw;
}

/* Buttons */
.generalButton {
    left: 50%;
    position: relative;
    margin: 0;
    background-color: white;
    transform: translate(-50%, 0);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 150px;
    cursor: pointer;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 5px;
    outline: none;
    -moz-transition-duration:0.4s;
    -o-transition-duration:0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.generalButton:hover,
.resumeButton:hover {
    color: rgb(194, 146, 56);
    border-color: rgb(180, 134, 47);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20), 0 7px 15px 0 rgba(0, 0, 0, 0.20);
}

.resumeButton {
    display: block;
    position: relative;
    margin-left: 2px;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    width: 160px;
    cursor: pointer;
    border: 2px solid rgb(100, 100, 100);
    background-color: white;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration:0.4s;
    -o-transition-duration:0.4s;
    transition-duration: 0.4s;
}

@media screen and (max-width: 400px) {
    .resumeButton {
        width: 120px;
        font-size: 10px;
    }
}

/* Youttube/Modal popup - Kia Ora Video */
.modal-content iframe {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}

a:visited,
a:focus {
    text-decoration: none;
}

#downArrow{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    color: white;
    opacity: 0.70;
}

#downArrowGallery{
    float: right;
    padding-right: 20px;
    z-index: 10;
    color: black;
    opacity: 0.70;}
